* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 100%;
}

a {
  display: inline-block;
}

a:link, a:visited{
  color: black;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

ul {
  display:inline-block;
  list-style-type: none;
}

li {
  display: inline-block;
  padding-right: 20px;
}
/*Header*/

.topcontainer {
  position: absolute;
  top: 0;
  left:0px;
  right:0px;
  height: 120px;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #F2F2F2;
}

.logo {
  margin-top: 27px;
}

#logo {
  height: 40px;
  width: auto;
  margin-left: 15px;
}

.searchbartop {
  position: absolute;
  top: 28px;
  left: 165px;
}

#searchbar {
  width: 600px;
  height:27px;
}

.navbar {
  position:absolute;
  font-size: 14px;
  font-weight: 400;
  opacity: .60;
  left: 200px;
}
.safesearch {
  position: absolute;
  right: 15px;
  bottom: 18px;
  font-size: 14px;
  font-weight: 400;
  opacity: .60;
}

button {
  position:absolute;
  top:29px;
  right:15px;
  display:inline-block;
  font-size: 12px;
  font-weight: bold;
  color:white;
  background-color: #4285f4;
  border-radius: 4px;
  padding: 7px 11px;
  border: 1px solid #f2f2f2;
}
.appgrid {
  position:absolute;
  top:30px;
  right:95px;
}

#grid {
  height: 19px;
  width: 19px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  display:inline-block;
}

/*Body*/

.bodycontainer {
  position: relative;
  top:100px;

}

.resultscount{
  position: relative;
  top: 30px;
  padding-left: 200px;
  font-size: 12px;
  opacity: .70;
}

.searchresults {
  position:relative;
  top: 50px;
  width:650px;
  left: 150px;
}

.searchresults a {
  color: darkblue;
  font-size: 18px;
}

cite {
  color: green;
  font-size: 15px;
}

 .searchresults p {
   font-size: 14px;
   margin-bottom: 15px ;
   opacity: .80;
 }

 h3 {
   margin-top: 30px;
   font-weight: 400;
   font-size: 18px;
 }

#leftlist {
  margin-top: 10px;
  margin-bottom: 30px;
  color: darkblue;
  font-weight: bold;
  line-height: 25px;
}
#rightlist {
  font-weight: bold;
  color: darkblue;
  line-height: 25px;
}
#leftlist li a {
  font-size: 14px;
}

#rightlist li a {
  font-size: 14px;
}

/*Footer*/

.footer {
  position: relative;
  margin-top: 150px;
  padding-top:15px;
  padding-bottom:15px;
  width: 100%;
  background-color: #F2F2F2
}

.bottom-right{
  float: right;
  padding-right: 30px;
  opacity: .60;

}
.bottom-left{
  padding-left: 30px;
  opacity: .60;
}
